<%= image_tag @project.images.first, class: "bg-img" %>

<section class="show-project container-fluid">
  <p>
    <h1 class="display-1">
      <%= @project.title %>
    </h1>
  </p>
  
  <!-- Carousel wrapper -->
  <% if @project.images.attached? %>
    <div
      id="carouselBasicExample"
      class="carousel slide carousel-fade"
      data-mdb-ride="carousel"
    >
      <!-- Indicators -->
      <div class="carousel-indicators">
        <button
          type="button"
          data-mdb-target="#carouselBasicExample"
          data-mdb-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <% i = 1 %>
        <% images_index = @project.images.length - 1 %>
          <% while i <= images_index do %>
            <button
              type="button"
              data-mdb-target="#carouselBasicExample"
              data-mdb-slide-to="<%= i %>"
              aria-label="Slide <%= i + 1 %>"
            ></button>
            <% i += 1 %>
          <% end %>

      </div>

      <!-- Inner -->
      <div class="carousel-inner">
        <!-- Single item -->
        <div class="carousel-item active">
          <img
            src=<%= @project.images.first.url %>
            class="d-block w-100"
            alt="..."
            height=200
          />
          <div class="carousel-caption d-none d-md-block">

          </div>
        </div>

        <% i = 1 %>
        <% images_index = @project.images.length - 1 %>
          <% while i <= images_index do %>
            <!-- Single item -->
            <div class="carousel-item">
              <%= image_tag @project.images[i], class: "d-block w-100", height: 200 %>
              <div class="carousel-caption d-none d-md-block">
              </div>
            </div>
            <% i += 1 %>
          <% end %>

      </div>
      <!-- Inner -->

      <!-- Controls -->
      <button
        class="carousel-control-prev"
        type="button"
        data-mdb-target="#carouselBasicExample"
        data-mdb-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-mdb-target="#carouselBasicExample"
        data-mdb-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  <% end %>



  <p>
    <strong>Description:</strong>
    <%= @project.description %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= @project.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= @project.end_date %>
  </p>

  <%= link_to 'Edit', edit_project_path(@project) %> |
  <%= link_to 'Back', projects_path %>
</section>